*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    justify-content: center;
}
.header {
    width: 85%;
    height: 190px;
    position: fixed;
    background-color: white;
    margin-left: 7.5%;
}
.header_fake{
    width: 85%;
    height: 190px;
    background-color: white;
    margin-left: 7.5%;
}
.top_header{
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.left_logos{
    display: flex;
    margin-left: 5px;
}
.flipkart_logo{
    width: 190px;
    background-color: #ffe514;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}
.travel_logo{
    width: 200px;
    background-color: rgb(230, 230, 230);
    padding: px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-left: 20px;
}
.grocery_logo{
    width: 200px;
    height: 45px;
    background-color: rgb(230, 230, 230);
    padding: px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-left: 20px;
}
.location{
    font-size: 17px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.location_icon{
    margin-top: 1px;
    font-size: 18px;
}
.location p{
    margin-left: 5px;
    font-weight: bold;
}
.location a{
    color: #1254e7;
    text-decoration: none;
    margin-left: 10px;
}
.delivery_arrow{
    margin-right: 50px;
}
.bottom_header{
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.searchbar{
    margin-left: 15px;
    width: 800px;
    height: 45px;
    border: 2px solid #3070fa;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.searchbox{
    height: 35px;
    width: 750px;
    font-size: 18px;
    border: none;
}
.ri-search-line{
    width: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 28px;
    color: grey;
}
.LMC{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.LMC a{
    text-decoration: none;
    color: black;
}
.login{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 30px;
    font-size: 20px;
}
.more{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 20px;
    font-size: 20px;
}
.cart{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 15px;
    font-size: 20px;
}
.horizontal_pannel1{
    width: 100%;
    height: 45px;
    border-top: 1px solid lightgrey;
    align-items: center;
    justify-content: center;
    display: flex;
}
.horizontal_pannel2{
    width: 100%;
    height: 25px;
    background-color: lightgrey;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    justify-content: center;
    display: flex;
}
.content{
    width: 85%;
    height: 1000px;
    margin-left: 7.5%;
    background-color: #ffe514;
}