*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    justify-content: center;
}
.header {
    width: 85%;
    height: 120px;
    position: fixed;
    background-color: white;
    margin-left: 7.5%;
    z-index: 5;
}
.header_fake1{
    width: 85%;
    height: 80px;
    background-color: white;
    margin-left: 7.5%;
}
.header_fake2{
    width: 85%;
    height: 70px;
    background-color: white;
    margin-left: 7.5%;
    position: fixed;
    z-index: 2;
    opacity: 10%;
}
.header_fake2:hover{
    opacity: 100%;
    transition: 0.35s ease-in-out;
    transform: translateY(39px);

}

.top_header{
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.left_logos{
    display: flex;
    margin-left: 5px;
}
.flipkart_logo{
    width: 190px;
    background-color: #ffe514;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}
.travel_logo{
    width: 200px;
    background-color: rgb(230, 230, 230);
    padding: px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-left: 20px;
}
.grocery_logo{
    width: 200px;
    height: 45px;
    background-color: rgb(230, 230, 230);
    padding: px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-left: 20px;
}
.location{
    font-size: 17px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.location_icon{
    margin-top: 1px;
    font-size: 18px;
}
.location p{
    margin-left: 5px;
    font-weight: bold;
}
.location a{
    color: #1254e7;
    text-decoration: none;
    margin-left: 10px;
}
.delivery_arrow{
    margin-right: 50px;
}
.bottom_header{
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.searchbar{
    margin-left: 15px;
    width: 800px;
    height: 45px;
    border: 2px solid #3070fa;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.searchbox{
    height: 35px;
    width: 730px;
    font-size: 18px;
    border: none;
}
.ri-search-line{
    width: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 28px;
    color: grey;
}
.LMC{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.LMC a{
    text-decoration: none;
    color: black;
}
.login{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 30px;
    font-size: 20px;
}
.more{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 20px;
    font-size: 20px;
}
.cart{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 15px;
    font-size: 20px;
}
.horizontal_pannel{
    width: 100%;
    height: 70px;
    border-top: 2px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.pannel_menu{
    height: 100%;
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.pannel_menu img{
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.pannel_menu p{
    margin-top: 8px;
}
.content{
    width: 85%;
    height: 600px;
    margin-left: 7.5%;
    overflow-y: scroll;
}
.content::-webkit-scrollbar{
    width: 3px;
}
.content::-webkit-scrollbar-thumb{
    background: lightgrey;
}
.first_display_homepage{
    min-width: 100%;
    min-height: 240px;
    margin-top: 25px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    background-color: white;
}
.first_display_homepage::-webkit-scrollbar{
    height: 5px;
}
.first_display_homepage::-webkit-scrollbar-thumb{
    background: grey;
}
.box_first_display_homepage{
    min-width: 400px;
    min-height: 200px;
    background-color: white;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 10px;
}
.hp_d1_b1{
    background-image: url(fh_slider_img1.webp);
    background-size: cover;
}
.hp_d1_b2{
    background-image: url(fh_slider_img2.webp);
    background-size: cover;
}
.hp_d1_b3{
    background-image: url(fh_slider_img3.webp);
    background-size: cover;
}
.hp_d1_b4{
    background-image: url(fh_slider_img4.webp);
    background-size: cover;
}
.hp_d1_b5{
    background-image: url(fh_slider_img5.webp);
    background-size: cover;
}
.hp_d1_b6{
    background-image: url(fh_slider_img6.webp);
    background-size: cover;
}
.hp_d1_b7{
    background-image: url(fh_slider_img7.webp);
    background-size: cover;
}
.hp_d1_b8{
    background-image: url(fh_slider_img8.webp);
    background-size: cover;
}
.hp_d1_b9{
    background-image: url(fh_slider_img9.webp);
    background-size: cover;
}
.second_display_homepage{
    width: 100%;
    height: 175px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}
.box_second_display_homepage{
    min-width: 300px;
    min-height: 150px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: white;
    display: block;
}
.second_display_homepage::-webkit-scrollbar{
    height: 5px;
}
.second_display_homepage::-webkit-scrollbar-thumb{
    background: grey;
}
.hp_d2_b1{
    background-image: url(hpd2b1.webp);
    background-size: cover;
}
.hp_d2_b2{
    background-image: url(hpd2b2.webp);
    background-size: cover;
}
.hp_d2_b3{
    background-image: url(hpd2b3.webp);
    background-size: cover;
}
.hp_d2_b4{
    background-image: url(hpd2b4.webp);
    background-size: cover;
}
.hp_d2_b5{
    background-image: url(hpd2b5.webp);
    background-size: cover;
}
.hp_d2_b6{
    background-image: url(hpd2b6.webp);
    background-size: cover;
}
.hp_d2_b7{
    background-image: url(hpd2b7.webp);
    background-size: cover;
}
.hp_d2_b8{
    background-image: url(hpd2b8.webp);
    background-size: cover;
}
.hp_d2_b9{
    background-image: url(hpd2b9.webp);
    background-size: cover;
}
.hp_d2_b10{
    background-image: url(hpd2b10.webp);
    background-size: cover;
}
.third_display_homepage{
    width: 100%;
    height: 375px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.box_third_display_homepage{
    width:  95%;
    height: 350px;
    background: linear-gradient(#3070fa);
    border-radius: 10px;
    background-image: url(d3_bgimg.webp);
    background-size: cover;
}
.box_third_display_homepage p{
    margin-top: 15px;
    margin-left: 27px;
    font-size: 24px;
    font-weight: bold;
}
.subbox1_box_third_display_homepage{
    width: 97.5%;
    height: 280px;
    margin-top: 10px;
    margin-left: 1.25%;
    background-color: white;
    border-radius: 10px;
}
.subbox1_img{
    justify-content: space-around;
    display: flex;
    height: 74%;
}
.ibox{
    width: 24.5%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;margin-top: 5px;
    background-color: rgb(247, 247, 247);
}
.subbox2_img{
    justify-content: space-around;
    display: flex;
    height: 20%;
    margin-top: 7.5px;
}
.ibox2{
    width: 24.5%;
    height: 100%;
    margin-top: 5px;
}
.ibox2 p{
    font-size: 14px;
    font-weight: lighter;
}
.footer1{
    width: 100%;
    height: 50px;
    border-top: 1px solid lightgrey;
    align-items: center;
    text-align: left;
    display: flex;
}
.footer1 p{
    margin-left: 25px;
}
.footer2{
    width: 100vw;
    height: 275px;
    background-color: #111112;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.f_div1{
    height: 70%;
}
.f_div2{
    height: 70%;
}
.f_div3{
    height: 70%;
}
.f_div4{
    height: 70%;
}
.f_div22 p{
    color: white;
    font-size: 14px;
}
.f_div22 p:hover{
    text-decoration: underline;
}
.footer3{
    width: 100%;
    height: 50px;
    border-top: 1px solid #878787;
    background-color: #111112;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.footer_items{
    display: flex;
}
.footer_items p{
    color: white;
    margin-left: 10px;
}